<!--   insert this code
 <div th:insert="~{fragments/breeds.html :: breeds}"></div>
-->
<select th:fragment="breeds" class="form-select" id="breed" name="breed" aria-label="breeds dropdown">
<option value="empty">Select a breed (dogs are at the bottom)</option>

<option value="empty" disabled>---------- CATS ----------</option>
<option value="no-breed">Moggy (no breed)</option>
<option value="Abyssinian">Abyssinian</option>
<option value="Aegean">Aegean</option>
<option value="American Bobtail">American Bobtail</option>
<option value="American Curl">American Curl</option>
<option value="American Ringtail">American Ringtail</option>
<option value="American Shorthair">American Shorthair</option>
<option value="American Wirehair">American Wirehair</option>
<option value="Aphrodite Giant">Aphrodite Giant</option>
<option value="Arabian Mau">Arabian Mau</option>
<option value="Asian">Asian</option>
<option value="Asian Semi-longhair">Asian Semi-longhair</option>
<option value="Australian Mist">Australian Mist</option>
<option value="Balinese">Balinese</option>
<option value="Bambino">Bambino</option>
<option value="Bengal">Bengal</option>
<option value="Birman">Birman</option>
<option value="Bombay">Bombay</option>
<option value="Brazilian Shorthair">Brazilian Shorthair</option>
<option value="British Longhair">British Longhair</option>
<option value="British Shorthair">British Shorthair</option>
<option value="Burmese">Burmese</option>
<option value="Burmilla">Burmilla</option>
<option value="California Spangled">California Spangled</option>
<option value="Chantilly-Tiffany">Chantilly-Tiffany</option>
<option value="Chartreux">Chartreux</option>
<option value="Chausie">Chausie</option>
<option value="Colorpoint Shorthair">Colorpoint Shorthair</option>
<option value="Cornish Rex">Cornish Rex</option>
<option value="Cymric">Cymric</option>
<option value="Cyprus">Cyprus</option>
<option value="Devon Rex">Devon Rex</option>
<option value="Donskoy (Don Sphynx)">Donskoy (Don Sphynx)</option>
<option value="Dragon Li (Chinese Li Hua)">Dragon Li (Chinese Li Hua)</option>
<option value="Dwelf">Dwelf</option>
<option value="Egyptian Mau">Egyptian Mau</option>
<option value="European Shorthair">European Shorthair</option>
<option value="Exotic Shorthair">Exotic Shorthair</option>
<option value="Foldex">Foldex</option>
<option value="German Rex">German Rex</option>
<option value="Havana Brown">Havana Brown</option>
<option value="Highlander">Highlander</option>
<option value="Himalayan Persian">Himalayan Persian</option>
<option value="Japanese Bobtail">Japanese Bobtail</option>
<option value="Javanese Longhair">Javanese Longhair</option>
<option value="Kanaani">Kanaani</option>
<option value="Khao Manee">Khao Manee</option>
<option value="Kinkalow">Kinkalow</option>
<option value="Korat">Korat</option>
<option value="Korean Bobtail">Korean Bobtail</option>
<option value="Korn Ja">Korn Ja</option>
<option value="Kurilian Bobtail">Kurilian Bobtail</option>
<option value="Lambkin">Lambkin</option>
<option value="LaPerm">LaPerm</option>
<option value="Long-haired Manx">Long-haired Manx</option>
<option value="Lykoi">Lykoi</option>
<option value="Maine Coon">Maine Coon</option>
<option value="Manx">Manx</option>
<option value="Mekong Bobtail">Mekong Bobtail</option>
<option value="Minskin">Minskin</option>
<option value="Minuet">Minuet</option>
<option value="Munchkin">Munchkin</option>
<option value="Nebelung">Nebelung</option>
<option value="Norwegian Forest Cat">Norwegian Forest Cat</option>
<option value="Ocicat">Ocicat</option>
<option value="Ojos Azules">Ojos Azules</option>
<option value="Oriental Bicolor">Oriental Bicolor</option>
<option value="Oriental Longhair">Oriental Longhair</option>
<option value="Oriental Shorthair">Oriental Shorthair</option>
<option value="Persian (modern)">Persian (modern)</option>
<option value="Persian (traditional)">Persian (traditional)</option>
<option value="Peterbald">Peterbald</option>
<option value="Pixie-bob">Pixie-bob</option>
<option value="Raas">Raas</option>
<option value="Ragamuffin">Ragamuffin</option>
<option value="Ragdoll">Ragdoll</option>
<option value="Russian Black">Russian Black</option>
<option value="Russian Blue">Russian Blue</option>
<option value="Russian Tabby">Russian Tabby</option>
<option value="Russian White">Russian White</option>
<option value="Sam Sawet">Sam Sawet</option>
<option value="Savannah">Savannah</option>
<option value="Scottish Fold">Scottish Fold</option>
<option value="Selkirk Rex">Selkirk Rex</option>
<option value="Serengeti">Serengeti</option>
<option value="Serrade Petit">Serrade Petit</option>
<option value="Siamese">Siamese</option>
<option value="Siberian (Siberian Forest Cat)">Siberian (Siberian Forest Cat)</option>
<option value="Singapura">Singapura</option>
<option value="Snowshoe">Snowshoe</option>
<option value="Sokoke">Sokoke</option>
<option value="Somali">Somali</option>
<option value="Sphynx">Sphynx</option>
<option value="Suphalak">Suphalak</option>
<option value="Thai Blue Point">Thai Blue Point</option>
<option value="Thai Lilac">Thai Lilac</option>
<option value="Thai Lilac Point">Thai Lilac Point</option>
<option value="Thai or Old-style Siamese">Thai or Old-style Siamese</option>
<option value="Tonkinese">Tonkinese</option>
<option value="Toybob">Toybob</option>
<option value="Toyger">Toyger</option>
<option value="Turkish Angora">Turkish Angora</option>
<option value="Turkish Van">Turkish Van</option>
<option value="Turkish Vankedisi">Turkish Vankedisi</option>
<option value="Ukrainian Levkoy">Ukrainian Levkoy</option>
<option value="York Chocolate">York Chocolate</option>

<option value="empty" disabled></option>
<option value="empty" disabled>---------- DOGS ----------</option>
<option value="no-breed">Mutt (no breed)</option>
<option value="Afghan Hound">Afghan Hound</option>
<option value="Afghan Shepherd">Afghan Shepherd</option>
<option value="Aidi">Aidi</option>
<option value="Airedale Terrier">Airedale Terrier</option>
<option value="Akbash">Akbash</option>
<option value="Akita">Akita</option>
<option value="Alano Español">Alano Español</option>
<option value="Alaskan husky">Alaskan husky</option>
<option value="Alaskan Klee Kai">Alaskan Klee Kai</option>
<option value="Alaskan Malamute">Alaskan Malamute</option>
<option value="Alaunt">Alaunt</option>
<option value="Alopekis">Alopekis</option>
<option value="Alpine Dachsbracke">Alpine Dachsbracke</option>
<option value="Alpine Mastiff">Alpine Mastiff</option>
<option value="Alpine Spaniel">Alpine Spaniel</option>
<option value="American Akita">American Akita</option>
<option value="American Bulldog">American Bulldog</option>
<option value="American Cocker Spaniel">American Cocker Spaniel</option>
<option value="American English Coonhound">American English Coonhound</option>
<option value="American Eskimo Dog">American Eskimo Dog</option>
<option value="American Foxhound">American Foxhound</option>
<option value="American Hairless Terrier">American Hairless Terrier</option>
<option value="American Pit Bull Terrier">American Pit Bull Terrier</option>
<option value="American Staffordshire Terrier">American Staffordshire Terrier</option>
<option value="American Water Spaniel">American Water Spaniel</option>
<option value="Anatolian Shepherd Dog">Anatolian Shepherd Dog</option>
<option value="Andalusian Hound">Andalusian Hound</option>
<option value="Anglo-Français de Petite Vénerie">Anglo-Français de Petite Vénerie</option>
<option value="Appenzeller Sennenhund">Appenzeller Sennenhund</option>
<option value="Ariegeois">Ariegeois</option>
<option value="Armant">Armant</option>
<option value="Armenian Gampr dog">Armenian Gampr dog</option>
<option value="Artois Hound">Artois Hound</option>
<option value="Australian Cattle Dog">Australian Cattle Dog</option>
<option value="Australian Kelpie">Australian Kelpie</option>
<option value="Australian Shepherd">Australian Shepherd</option>
<option value="Australian Silky Terrier">Australian Silky Terrier</option>
<option value="Australian Stumpy Tail Cattle Dog[10]">Australian Stumpy Tail Cattle Dog[10]</option>
<option value="Australian Terrier">Australian Terrier</option>
<option value="Austrian Black and Tan Hound">Austrian Black and Tan Hound</option>
<option value="Austrian Pinscher">Austrian Pinscher</option>
<option value="Azawakh">Azawakh</option>
<option value="Bakharwal Dog">Bakharwal Dog</option>
<option value="Barbet">Barbet</option>
<option value="Basenji">Basenji</option>
<option value="Basque Ratter">Basque Ratter</option>
<option value="Basque Shepherd Dog">Basque Shepherd Dog</option>
<option value="Basset Artésien Normand">Basset Artésien Normand</option>
<option value="Basset Bleu de Gascogne">Basset Bleu de Gascogne</option>
<option value="Basset Fauve de Bretagne">Basset Fauve de Bretagne</option>
<option value="Basset Griffon Vendéen Grand">Basset Griffon Vendéen Grand</option>
<option value="Basset Griffon Vendéen Petit">Basset Griffon Vendéen Petit</option>
<option value="Basset Hound">Basset Hound</option>
<option value="Bavarian Mountain Hound">Bavarian Mountain Hound</option>
<option value="Beagle-Harrier">Beagle-Harrier</option>
<option value="Beagle">Beagle</option>
<option value="Bearded Collie">Bearded Collie</option>
<option value="Beauceron">Beauceron</option>
<option value="Bedlington Terrier">Bedlington Terrier</option>
<option value="Belgian Shepherd Dog (Groenendael)">Belgian Shepherd Dog (Groenendael)</option>
<option value="Belgian Shepherd Dog (Laekenois)">Belgian Shepherd Dog (Laekenois)</option>
<option value="Belgian Shepherd Dog (Malinois)">Belgian Shepherd Dog (Malinois)</option>
<option value="Belgian Shepherd Dog (Tervuren)">Belgian Shepherd Dog (Tervuren)</option>
<option value="Bergamasco Shepherd">Bergamasco Shepherd</option>
<option value="Berger Blanc Suisse">Berger Blanc Suisse</option>
<option value="Berger Picard">Berger Picard</option>
<option value="Bernese Mountain Dog">Bernese Mountain Dog</option>
<option value="Bichon Frisé">Bichon Frisé</option>
<option value="Billy">Billy</option>
<option value="Black and Tan Coonhound">Black and Tan Coonhound</option>
<option value="Black and Tan Virginia Foxhound">Black and Tan Virginia Foxhound</option>
<option value="Black Mouth Cur">Black Mouth Cur</option>
<option value="Black Norwegian Elkhound">Black Norwegian Elkhound</option>
<option value="Black Russian Terrier">Black Russian Terrier</option>
<option value="Bleu de Gascogne Grand">Bleu de Gascogne Grand</option>
<option value="Bleu de Gascogne Petit">Bleu de Gascogne Petit</option>
<option value="Bloodhound">Bloodhound</option>
<option value="Blue Heeler">Blue Heeler</option>
<option value="Blue Lacy">Blue Lacy</option>
<option value="Blue Paul Terrier">Blue Paul Terrier</option>
<option value="Blue Picardy Spaniel">Blue Picardy Spaniel</option>
<option value="Bluetick Coonhound">Bluetick Coonhound</option>
<option value="Boerboel">Boerboel</option>
<option value="Bohemian Shepherd">Bohemian Shepherd</option>
<option value="Bolognese">Bolognese</option>
<option value="Border Collie">Border Collie</option>
<option value="Border Terrier">Border Terrier</option>
<option value="Borzoi">Borzoi</option>
<option value="Bosnian Coarse-haired Hound">Bosnian Coarse-haired Hound</option>
<option value="Boston Terrier">Boston Terrier</option>
<option value="Bouvier des Ardennes">Bouvier des Ardennes</option>
<option value="Bouvier des Flandres">Bouvier des Flandres</option>
<option value="Boxer">Boxer</option>
<option value="Boykin Spaniel">Boykin Spaniel</option>
<option value="Bracco Italiano">Bracco Italiano</option>
<option value="Braque d'Auvergne">Braque d'Auvergne</option>
<option value="Braque de l'Ariege">Braque de l'Ariege</option>
<option value="Braque du Bourbonnais">Braque du Bourbonnais</option>
<option value="Braque du Puy">Braque du Puy</option>
<option value="Braque Francais">Braque Francais</option>
<option value="Braque Saint-Germain">Braque Saint-Germain</option>
<option value="Brazilian Dogo">Brazilian Dogo</option>
<option value="Brazilian Terrier">Brazilian Terrier</option>
<option value="Briard">Briard</option>
<option value="Briquet Griffon Vendéen">Briquet Griffon Vendéen</option>
<option value="Brittany">Brittany</option>
<option value="Broholmer">Broholmer</option>
<option value="Bruno Jura Hound">Bruno Jura Hound</option>
<option value="Bucovina Shepherd Dog">Bucovina Shepherd Dog</option>
<option value="Bull and Terrier">Bull and Terrier</option>
<option value="Bull Terrier (Miniature)">Bull Terrier (Miniature)</option>
<option value="Bull Terrier">Bull Terrier</option>
<option value="Bulldog">Bulldog</option>
<option value="Bullenbeisser">Bullenbeisser</option>
<option value="Bullmastiff">Bullmastiff</option>
<option value="Bully Kutta">Bully Kutta</option>
<option value="Burgos Pointer">Burgos Pointer</option>
<option value="Cairn Terrier">Cairn Terrier</option>
<option value="Canaan Dog">Canaan Dog</option>
<option value="Canadian Eskimo Dog">Canadian Eskimo Dog</option>
<option value="Cane Corso">Cane Corso</option>
<option value="Cantabrian Water Dog">Cantabrian Water Dog</option>
<option value="Cão da Serra de Aires">Cão da Serra de Aires</option>
<option value="Cão de Castro Laboreiro">Cão de Castro Laboreiro</option>
<option value="Cão de Gado Transmontano">Cão de Gado Transmontano</option>
<option value="Cão Fila de São Miguel">Cão Fila de São Miguel</option>
<option value="Carolina Dog">Carolina Dog</option>
<option value="Carpathian Shepherd Dog">Carpathian Shepherd Dog</option>
<option value="Catahoula Leopard Dog">Catahoula Leopard Dog</option>
<option value="Catalan Sheepdog">Catalan Sheepdog</option>
<option value="Caucasian Shepherd Dog">Caucasian Shepherd Dog</option>
<option value="Cavalier King Charles Spaniel">Cavalier King Charles Spaniel</option>
<option value="Central Asian Shepherd Dog">Central Asian Shepherd Dog</option>
<option value="Cesky Fousek">Cesky Fousek</option>
<option value="Cesky Terrier">Cesky Terrier</option>
<option value="Chesapeake Bay Retriever">Chesapeake Bay Retriever</option>
<option value="Chien Français Blanc et Noir">Chien Français Blanc et Noir</option>
<option value="Chien Français Blanc et Orange">Chien Français Blanc et Orange</option>
<option value="Chien Français Tricolore">Chien Français Tricolore</option>
<option value="Chien-gris">Chien-gris</option>
<option value="Chihuahua">Chihuahua</option>
<option value="Chilean Fox Terrier">Chilean Fox Terrier</option>
<option value="Chinese Chongqing Dog">Chinese Chongqing Dog</option>
<option value="Chinese Crested Dog">Chinese Crested Dog</option>
<option value="Chinese Imperial Dog">Chinese Imperial Dog</option>
<option value="Chinook">Chinook</option>
<option value="Chippiparai">Chippiparai</option>
<option value="Chow Chow">Chow Chow</option>
<option value="Cierny Sery">Cierny Sery</option>
<option value="Cimarrón Uruguayo">Cimarrón Uruguayo</option>
<option value="Cirneco dell'Etna">Cirneco dell'Etna</option>
<option value="Clumber Spaniel">Clumber Spaniel</option>
<option value="Collie Rough">Collie Rough</option>
<option value="Collie Smooth">Collie Smooth</option>
<option value="Combai">Combai</option>
<option value="Cordoba Fighting Dog">Cordoba Fighting Dog</option>
<option value="Coton de Tulear">Coton de Tulear</option>
<option value="Cretan Hound">Cretan Hound</option>
<option value="Croatian Sheepdog">Croatian Sheepdog</option>
<option value="Cumberland Sheepdog">Cumberland Sheepdog</option>
<option value="Curly-Coated Retriever">Curly-Coated Retriever</option>
<option value="Cursinu">Cursinu</option>
<option value="Czechoslovakian Wolfdog">Czechoslovakian Wolfdog</option>
<option value="Dachshund">Dachshund</option>
<option value="Dalmatian">Dalmatian</option>
<option value="Dandie Dinmont Terrier">Dandie Dinmont Terrier</option>
<option value="Danish-Swedish Farmdog">Danish-Swedish Farmdog</option>
<option value="Deutsche Bracke">Deutsche Bracke</option>
<option value="Doberman Pinscher">Doberman Pinscher</option>
<option value="Dogo Argentino">Dogo Argentino</option>
<option value="Dogo Cubano">Dogo Cubano</option>
<option value="Dogue de Bordeaux">Dogue de Bordeaux</option>
<option value="Drentse Patrijshond">Drentse Patrijshond</option>
<option value="Drever">Drever</option>
<option value="Dunker">Dunker</option>
<option value="Dutch Shepherd">Dutch Shepherd</option>
<option value="Dutch Smoushond">Dutch Smoushond</option>
<option value="East European Shepherd">East European Shepherd</option>
<option value="East Siberian Laika">East Siberian Laika</option>
<option value="Elo">Elo</option>
<option value="English Cocker Spaniel">English Cocker Spaniel</option>
<option value="English Foxhound">English Foxhound</option>
<option value="English Setter">English Setter</option>
<option value="English Shepherd">English Shepherd</option>
<option value="English Springer Spaniel">English Springer Spaniel</option>
<option value="English Toy Terrier (Black & Tan)">English Toy Terrier (Black & Tan)</option>
<option value="English Water Spaniel">English Water Spaniel</option>
<option value="English White Terrier">English White Terrier</option>
<option value="Entlebucher Mountain Dog">Entlebucher Mountain Dog</option>
<option value="Estonian Hound">Estonian Hound</option>
<option value="Estrela Mountain Dog">Estrela Mountain Dog</option>
<option value="Eurasier">Eurasier</option>
<option value="Eurohound">Eurohound</option>
<option value="Field Spaniel">Field Spaniel</option>
<option value="Fila Brasileiro">Fila Brasileiro</option>
<option value="Finnish Hound">Finnish Hound</option>
<option value="Finnish Lapphund">Finnish Lapphund</option>
<option value="Finnish Spitz">Finnish Spitz</option>
<option value="Flat-Coated Retriever">Flat-Coated Retriever</option>
<option value="Fox Terrier Smooth">Fox Terrier Smooth</option>
<option value="Fox Terrier Wire">Fox Terrier Wire</option>
<option value="French Brittany">French Brittany</option>
<option value="French Bulldog">French Bulldog</option>
<option value="French Spaniel">French Spaniel</option>
<option value="Gaddi Dog">Gaddi Dog</option>
<option value="Galgo Español">Galgo Español</option>
<option value="Galician Cattle Dog">Galician Cattle Dog</option>
<option value="Garafian Shepherd">Garafian Shepherd</option>
<option value="Gascon Saintongeois">Gascon Saintongeois</option>
<option value="Georgian Shepherd Dog">Georgian Shepherd Dog</option>
<option value="German Longhaired Pointer">German Longhaired Pointer</option>
<option value="German Pinscher">German Pinscher</option>
<option value="German Roughhaired Pointer">German Roughhaired Pointer</option>
<option value="German Shepherd Dog">German Shepherd Dog</option>
<option value="German Shorthaired Pointer">German Shorthaired Pointer</option>
<option value="German Spaniel">German Spaniel</option>
<option value="German Spitz">German Spitz</option>
<option value="German Wirehaired Pointer">German Wirehaired Pointer</option>
<option value="Giant Schnauzer">Giant Schnauzer</option>
<option value="Glen of Imaal Terrier">Glen of Imaal Terrier</option>
<option value="Golden Retriever">Golden Retriever</option>
<option value="Gordon Setter">Gordon Setter</option>
<option value="Gran Mastín de Borínquen">Gran Mastín de Borínquen</option>
<option value="Grand Anglo-Français Blanc et Noir">Grand Anglo-Français Blanc et Noir</option>
<option value="Grand Anglo-Français Blanc et Orange">Grand Anglo-Français Blanc et Orange</option>
<option value="Grand Anglo-Français Tricolore">Grand Anglo-Français Tricolore</option>
<option value="Grand Griffon Vendéen">Grand Griffon Vendéen</option>
<option value="Great Dane">Great Dane</option>
<option value="Great Pyrenees">Great Pyrenees</option>
<option value="Greater Swiss Mountain Dog">Greater Swiss Mountain Dog</option>
<option value="Greenland Dog">Greenland Dog</option>
<option value="Greyhound">Greyhound</option>
<option value="Griffon Bleu de Gascogne">Griffon Bleu de Gascogne</option>
<option value="Griffon Bruxellois">Griffon Bruxellois</option>
<option value="Griffon Fauve de Bretagne">Griffon Fauve de Bretagne</option>
<option value="Griffon Nivernais">Griffon Nivernais</option>
<option value="Guatemalan Dogo">Guatemalan Dogo</option>
<option value="Hamiltonstövare">Hamiltonstövare</option>
<option value="Hanover Hound">Hanover Hound</option>
<option value="Hare Indian Dog">Hare Indian Dog</option>
<option value="Harrier">Harrier</option>
<option value="Havanese">Havanese</option>
<option value="Hawaiian Poi Dog">Hawaiian Poi Dog</option>
<option value="Hellenic Hound">Hellenic Hound</option>
<option value="Himalayan Sheepdog">Himalayan Sheepdog</option>
<option value="Hokkaido">Hokkaido</option>
<option value="Hortaya Borzaya">Hortaya Borzaya</option>
<option value="Hovawart">Hovawart</option>
<option value="Huntaway">Huntaway</option>
<option value="Hygenhund">Hygenhund</option>
<option value="Ibizan Hound">Ibizan Hound</option>
<option value="Icelandic Sheepdog">Icelandic Sheepdog</option>
<option value="Indian pariah dog">Indian pariah dog</option>
<option value="Indian Spitz">Indian Spitz</option>
<option value="Irish Red and White Setter">Irish Red and White Setter</option>
<option value="Irish Setter">Irish Setter</option>
<option value="Irish Terrier">Irish Terrier</option>
<option value="Irish Water Spaniel">Irish Water Spaniel</option>
<option value="Irish Wolfhound">Irish Wolfhound</option>
<option value="Istrian Coarse-haired Hound">Istrian Coarse-haired Hound</option>
<option value="Istrian Shorthaired Hound">Istrian Shorthaired Hound</option>
<option value="Italian Greyhound">Italian Greyhound</option>
<option value="Jack Russell Terrier">Jack Russell Terrier</option>
<option value="Jagdterrier">Jagdterrier</option>
<option value="Jämthund">Jämthund</option>
<option value="Japanese Chin">Japanese Chin</option>
<option value="Japanese Spitz">Japanese Spitz</option>
<option value="Japanese Terrier">Japanese Terrier</option>
<option value="Kai Ken">Kai Ken</option>
<option value="Kaikadi">Kaikadi</option>
<option value="Kangal Dog">Kangal Dog</option>
<option value="Kanni">Kanni</option>
<option value="Karakachan Dog">Karakachan Dog</option>
<option value="Karelian Bear Dog">Karelian Bear Dog</option>
<option value="Karst Shepherd">Karst Shepherd</option>
<option value="Keeshond">Keeshond</option>
<option value="Kerry Beagle">Kerry Beagle</option>
<option value="Kerry Blue Terrier">Kerry Blue Terrier</option>
<option value="King Charles Spaniel">King Charles Spaniel</option>
<option value="King Shepherd">King Shepherd</option>
<option value="Kintamani">Kintamani</option>
<option value="Kishu Ken">Kishu Ken</option>
<option value="Komondor">Komondor</option>
<option value="Kooikerhondje">Kooikerhondje</option>
<option value="Koolie">Koolie</option>
<option value="Korean Jindo">Korean Jindo</option>
<option value="Kromfohrländer">Kromfohrländer</option>
<option value="Kumaon Mastiff">Kumaon Mastiff</option>
<option value="Kunming Wolfdog">Kunming Wolfdog</option>
<option value="Kurī">Kurī</option>
<option value="Kuvasz">Kuvasz</option>
<option value="Kyi-Leo">Kyi-Leo</option>
<option value="Labrador Husky">Labrador Husky</option>
<option value="Labrador Retriever">Labrador Retriever</option>
<option value="Lagotto Romagnolo">Lagotto Romagnolo</option>
<option value="Lakeland Terrier">Lakeland Terrier</option>
<option value="Lancashire Heeler">Lancashire Heeler</option>
<option value="Landseer">Landseer</option>
<option value="Lapponian Herder">Lapponian Herder</option>
<option value="Leonberger">Leonberger</option>
<option value="Lhasa Apso">Lhasa Apso</option>
<option value="Lithuanian Hound">Lithuanian Hound</option>
<option value="Löwchen">Löwchen</option>
<option value="Mackenzie River Husky">Mackenzie River Husky</option>
<option value="Magyar agár">Magyar agár</option>
<option value="Mahratta Greyhound">Mahratta Greyhound</option>
<option value="Majorca Ratter">Majorca Ratter</option>
<option value="Majorca Shepherd Dog">Majorca Shepherd Dog</option>
<option value="Maltese">Maltese</option>
<option value="Manchester Terrier">Manchester Terrier</option>
<option value="Maremma Sheepdog">Maremma Sheepdog</option>
<option value="Mastiff">Mastiff</option>
<option value="McNab">McNab</option>
<option value="Mexican Hairless Dog">Mexican Hairless Dog</option>
<option value="Miniature American Shepherd">Miniature American Shepherd</option>
<option value="Miniature Australian Shepherd">Miniature Australian Shepherd</option>
<option value="Miniature Fox Terrier">Miniature Fox Terrier</option>
<option value="Miniature Pinscher">Miniature Pinscher</option>
<option value="Miniature Schnauzer">Miniature Schnauzer</option>
<option value="Miniature Shar Pei">Miniature Shar Pei</option>
<option value="Molossus of Epirus">Molossus of Epirus</option>
<option value="Molossus">Molossus</option>
<option value="Montenegrin Mountain Hound">Montenegrin Mountain Hound</option>
<option value="Moscow Watchdog">Moscow Watchdog</option>
<option value="Moscow Water Dog">Moscow Water Dog</option>
<option value="Mountain Cur">Mountain Cur</option>
<option value="Mucuchies">Mucuchies</option>
<option value="Mudhol Hound">Mudhol Hound</option>
<option value="Mudi">Mudi</option>
<option value="Münsterländer Large">Münsterländer Large</option>
<option value="Münsterländer Small">Münsterländer Small</option>
<option value="Neapolitan Mastiff">Neapolitan Mastiff</option>
<option value="New Zealand Heading Dog">New Zealand Heading Dog</option>
<option value="Newfoundland">Newfoundland</option>
<option value="Norfolk Spaniel">Norfolk Spaniel</option>
<option value="Norfolk Terrier">Norfolk Terrier</option>
<option value="Norrbottenspets">Norrbottenspets</option>
<option value="North Country Beagle">North Country Beagle</option>
<option value="Northern Inuit Dog">Northern Inuit Dog</option>
<option value="Norwegian Buhund">Norwegian Buhund</option>
<option value="Norwegian Elkhound">Norwegian Elkhound</option>
<option value="Norwegian Lundehund">Norwegian Lundehund</option>
<option value="Norwich Terrier">Norwich Terrier</option>
<option value="Nova Scotia Duck Tolling Retriever">Nova Scotia Duck Tolling Retriever</option>
<option value="Old Croatian Sighthound">Old Croatian Sighthound</option>
<option value="Old Danish Pointer">Old Danish Pointer</option>
<option value="Old English Sheepdog">Old English Sheepdog</option>
<option value="Old English Terrier">Old English Terrier</option>
<option value="Old German Shepherd Dog">Old German Shepherd Dog</option>
<option value="Old Time Farm Shepherd">Old Time Farm Shepherd</option>
<option value="Olde English Bulldogge">Olde English Bulldogge</option>
<option value="Otterhound">Otterhound</option>
<option value="Pachon Navarro">Pachon Navarro</option>
<option value="Paisley Terrier">Paisley Terrier</option>
<option value="Pandikona Hunting Dog">Pandikona Hunting Dog</option>
<option value="Papillon">Papillon</option>
<option value="Parson Russell Terrier">Parson Russell Terrier</option>
<option value="Patterdale Terrier">Patterdale Terrier</option>
<option value="Pekingese">Pekingese</option>
<option value="Perro de Presa Canario">Perro de Presa Canario</option>
<option value="Perro de Presa Mallorquin">Perro de Presa Mallorquin</option>
<option value="Peruvian Hairless Dog">Peruvian Hairless Dog</option>
<option value="Phalène">Phalène</option>
<option value="Pharaoh Hound">Pharaoh Hound</option>
<option value="Phu Quoc Ridgeback">Phu Quoc Ridgeback</option>
<option value="Picardy Spaniel">Picardy Spaniel</option>
<option value="Plott Hound">Plott Hound</option>
<option value="Plummer Terrier">Plummer Terrier</option>
<option value="Podenco Canario">Podenco Canario</option>
<option value="Pointer">Pointer</option>
<option value="Poitevin">Poitevin</option>
<option value="Polish Greyhound">Polish Greyhound</option>
<option value="Polish Hound">Polish Hound</option>
<option value="Polish Hunting Dog">Polish Hunting Dog</option>
<option value="Polish Lowland Sheepdog">Polish Lowland Sheepdog</option>
<option value="Polish Tatra Sheepdog">Polish Tatra Sheepdog</option>
<option value="Pomeranian">Pomeranian</option>
<option value="Pont-Audemer Spaniel">Pont-Audemer Spaniel</option>
<option value="Poodle">Poodle</option>
<option value="Porcelaine">Porcelaine</option>
<option value="Portuguese Podengo">Portuguese Podengo</option>
<option value="Portuguese Pointer">Portuguese Pointer</option>
<option value="Portuguese Water Dog">Portuguese Water Dog</option>
<option value="Posavac Hound">Posavac Hound</option>
<option value="Pražský Krysařík">Pražský Krysařík</option>
<option value="Pudelpointer">Pudelpointer</option>
<option value="Pug">Pug</option>
<option value="Puli">Puli</option>
<option value="Pumi">Pumi</option>
<option value="Pungsan Dog">Pungsan Dog</option>
<option value="Pyrenean Mastiff">Pyrenean Mastiff</option>
<option value="Pyrenean Shepherd">Pyrenean Shepherd</option>
<option value="Rafeiro do Alentejo">Rafeiro do Alentejo</option>
<option value="Rajapalayam">Rajapalayam</option>
<option value="Rampur Greyhound">Rampur Greyhound</option>
<option value="Rastreador Brasileiro">Rastreador Brasileiro</option>
<option value="Rat Terrier">Rat Terrier</option>
<option value="Ratonero Bodeguero Andaluz">Ratonero Bodeguero Andaluz</option>
<option value="Ratonero Murciano de Huerta">Ratonero Murciano de Huerta</option>
<option value="Ratonero Valenciano">Ratonero Valenciano</option>
<option value="Redbone Coonhound">Redbone Coonhound</option>
<option value="Rhodesian Ridgeback">Rhodesian Ridgeback</option>
<option value="Romanian Mioritic Shepherd Dog">Romanian Mioritic Shepherd Dog</option>
<option value="Rottweiler">Rottweiler</option>
<option value="Russell Terrier">Russell Terrier</option>
<option value="Russian Spaniel">Russian Spaniel</option>
<option value="Russian Toy">Russian Toy</option>
<option value="Russian Tracker">Russian Tracker</option>
<option value="Russo-European Laika">Russo-European Laika</option>
<option value="Saarloos Wolfdog">Saarloos Wolfdog</option>
<option value="Sabueso Español">Sabueso Español</option>
<option value="Sabueso fino Colombiano">Sabueso fino Colombiano</option>
<option value="Saint-Usuge Spaniel">Saint-Usuge Spaniel</option>
<option value="Sakhalin Husky">Sakhalin Husky</option>
<option value="Saluki">Saluki</option>
<option value="Samoyed">Samoyed</option>
<option value="Sapsali">Sapsali</option>
<option value="Šarplaninac">Šarplaninac</option>
<option value="Schapendoes">Schapendoes</option>
<option value="Schillerstövare">Schillerstövare</option>
<option value="Schipperke">Schipperke</option>
<option value="Schweizer Laufhund">Schweizer Laufhund</option>
<option value="Schweizerischer Niederlaufhund">Schweizerischer Niederlaufhund</option>
<option value="Scotch Collie">Scotch Collie</option>
<option value="Scottish Deerhound">Scottish Deerhound</option>
<option value="Scottish Terrier">Scottish Terrier</option>
<option value="Sealyham Terrier">Sealyham Terrier</option>
<option value="Segugio Italiano">Segugio Italiano</option>
<option value="Seppala Siberian Sleddog">Seppala Siberian Sleddog</option>
<option value="Serbian Hound">Serbian Hound</option>
<option value="Serbian Tricolour Hound">Serbian Tricolour Hound</option>
<option value="Seskar Seal Dog">Seskar Seal Dog</option>
<option value="Shar Pei">Shar Pei</option>
<option value="Shetland Sheepdog">Shetland Sheepdog</option>
<option value="Shiba Inu">Shiba Inu</option>
<option value="Shih Tzu">Shih Tzu</option>
<option value="Shikoku">Shikoku</option>
<option value="Shiloh Shepherd">Shiloh Shepherd</option>
<option value="Siberian Husky">Siberian Husky</option>
<option value="Silken Windhound">Silken Windhound</option>
<option value="Sinhala Hound">Sinhala Hound</option>
<option value="Skye Terrier">Skye Terrier</option>
<option value="Sloughi">Sloughi</option>
<option value="Slovak Cuvac">Slovak Cuvac</option>
<option value="Slovakian Rough-haired Pointer">Slovakian Rough-haired Pointer</option>
<option value="Slovenský Kopov">Slovenský Kopov</option>
<option value="Smålandsstövare">Smålandsstövare</option>
<option value="Small Greek Domestic Dog">Small Greek Domestic Dog</option>
<option value="Soft-Coated Wheaten Terrier">Soft-Coated Wheaten Terrier</option>
<option value="South Russian Ovcharka">South Russian Ovcharka</option>
<option value="Southern Hound">Southern Hound</option>
<option value="Spanish Mastiff">Spanish Mastiff</option>
<option value="Spanish Water Dog">Spanish Water Dog</option>
<option value="Spinone Italiano">Spinone Italiano</option>
<option value="Sporting Lucas Terrier">Sporting Lucas Terrier</option>
<option value="St. Bernard">St. Bernard</option>
<option value="St. John's water dog">St. John's water dog</option>
<option value="Stabyhoun">Stabyhoun</option>
<option value="Staffordshire Bull Terrier">Staffordshire Bull Terrier</option>
<option value="Standard Schnauzer">Standard Schnauzer</option>
<option value="Stephens Cur">Stephens Cur</option>
<option value="Styrian Coarse-haired Hound">Styrian Coarse-haired Hound</option>
<option value="Sussex Spaniel">Sussex Spaniel</option>
<option value="Swedish Lapphund">Swedish Lapphund</option>
<option value="Swedish Vallhund">Swedish Vallhund</option>
<option value="Tahltan Bear Dog">Tahltan Bear Dog</option>
<option value="Taigan">Taigan</option>
<option value="Taiwan Dog">Taiwan Dog</option>
<option value="Talbot">Talbot</option>
<option value="Tamaskan Dog">Tamaskan Dog</option>
<option value="Teddy Roosevelt Terrier">Teddy Roosevelt Terrier</option>
<option value="Telomian">Telomian</option>
<option value="Tenterfield Terrier">Tenterfield Terrier</option>
<option value="Terceira Mastiff">Terceira Mastiff</option>
<option value="Thai Bangkaew Dog">Thai Bangkaew Dog</option>
<option value="Thai Ridgeback">Thai Ridgeback</option>
<option value="Tibetan Mastiff">Tibetan Mastiff</option>
<option value="Tibetan Spaniel">Tibetan Spaniel</option>
<option value="Tibetan Terrier">Tibetan Terrier</option>
<option value="Tornjak">Tornjak</option>
<option value="Tosa">Tosa</option>
<option value="Toy Bulldog">Toy Bulldog</option>
<option value="Toy Fox Terrier">Toy Fox Terrier</option>
<option value="Toy Manchester Terrier">Toy Manchester Terrier</option>
<option value="Toy Trawler Spaniel">Toy Trawler Spaniel</option>
<option value="Transylvanian Hound">Transylvanian Hound</option>
<option value="Treeing Cur">Treeing Cur</option>
<option value="Treeing Tennessee Brindle">Treeing Tennessee Brindle</option>
<option value="Treeing Walker Coonhound">Treeing Walker Coonhound</option>
<option value="Trigg Hound">Trigg Hound</option>
<option value="Tweed Water Spaniel">Tweed Water Spaniel</option>
<option value="Tyrolean Hound">Tyrolean Hound</option>
<option value="Valencian Ratter">Valencian Ratter</option>
<option value="Vanjari Hound">Vanjari Hound</option>
<option value="Villano de Las Encartaciones">Villano de Las Encartaciones</option>
<option value="Vizsla">Vizsla</option>
<option value="Volpino Italiano">Volpino Italiano</option>
<option value="Weimaraner">Weimaraner</option>
<option value="Welsh Corgi Cardigan">Welsh Corgi Cardigan</option>
<option value="Welsh Corgi Pembroke">Welsh Corgi Pembroke</option>
<option value="Welsh Sheepdog">Welsh Sheepdog</option>
<option value="Welsh Springer Spaniel">Welsh Springer Spaniel</option>
<option value="Welsh Terrier">Welsh Terrier</option>
<option value="West Highland White Terrier">West Highland White Terrier</option>
<option value="West Siberian Laika">West Siberian Laika</option>
<option value="Westphalian Dachsbracke">Westphalian Dachsbracke</option>
<option value="Wetterhoun">Wetterhoun</option>
<option value="Whippet">Whippet</option>
<option value="White Shepherd">White Shepherd</option>
<option value="Wirehaired Pointing Griffon">Wirehaired Pointing Griffon</option>
<option value="Wirehaired Vizsla">Wirehaired Vizsla</option>
<option value="Xiasi Dog">Xiasi Dog</option>
<option value="Yorkshire Terrier">Yorkshire Terrier</option>
</select>
