<!--   insert this code
 <div th:insert="fragments/cats-breeds.html :: cats-breeds"></div>
-->
<select th:fragment="cats-breeds" class="form-select" id="breed" name="cats-breeds" aria-label="breeds dropdown">
  <option value="no-breed">Moggy (no breed)</option>
  <option value="Abyssinian">Abyssinian</option><option value="Abyssinian">Abyssinian</option>
  <option value="Aegean">Aegean</option><option value="Aegean">Aegean</option>
  <option value="American Bobtail">American Bobtail</option><option value="American Bobtail">American Bobtail</option>
  <option value="American Curl">American Curl</option><option value="American Curl">American Curl</option>
  <option value="American Ringtail">American Ringtail</option><option value="American Ringtail">American Ringtail</option>
  <option value="American Shorthair">American Shorthair</option><option value="American Shorthair">American Shorthair</option>
  <option value="American Wirehair">American Wirehair</option><option value="American Wirehair">American Wirehair</option>
  <option value="Aphrodite Giant">Aphrodite Giant</option><option value="Aphrodite Giant">Aphrodite Giant</option>
  <option value="Arabian Mau">Arabian Mau</option><option value="Arabian Mau">Arabian Mau</option>
  <option value="Asian">Asian</option><option value="Asian">Asian</option>
  <option value="Asian Semi-longhair">Asian Semi-longhair</option><option value="Asian Semi-longhair">Asian Semi-longhair</option>
  <option value="Australian Mist">Australian Mist</option><option value="Australian Mist">Australian Mist</option>
  <option value="Balinese">Balinese</option><option value="Balinese">Balinese</option>
  <option value="Bambino">Bambino</option><option value="Bambino">Bambino</option>
  <option value="Bengal">Bengal</option><option value="Bengal">Bengal</option>
  <option value="Birman">Birman</option><option value="Birman">Birman</option>
  <option value="Bombay">Bombay</option><option value="Bombay">Bombay</option>
  <option value="Brazilian Shorthair">Brazilian Shorthair</option><option value="Brazilian Shorthair">Brazilian Shorthair</option>
  <option value="British Longhair">British Longhair</option><option value="British Longhair">British Longhair</option>
  <option value="British Shorthair">British Shorthair</option><option value="British Shorthair">British Shorthair</option>
  <option value="Burmese">Burmese</option><option value="Burmese">Burmese</option>
  <option value="Burmilla">Burmilla</option><option value="Burmilla">Burmilla</option>
  <option value="California Spangled">California Spangled</option><option value="California Spangled">California Spangled</option>
  <option value="Chantilly-Tiffany">Chantilly-Tiffany</option><option value="Chantilly-Tiffany">Chantilly-Tiffany</option>
  <option value="Chartreux">Chartreux</option><option value="Chartreux">Chartreux</option>
  <option value="Chausie">Chausie</option><option value="Chausie">Chausie</option>
  <option value="Colorpoint Shorthair">Colorpoint Shorthair</option><option value="Colorpoint Shorthair">Colorpoint Shorthair</option>
  <option value="Cornish Rex">Cornish Rex</option><option value="Cornish Rex">Cornish Rex</option>
  <option value="Cymric">Cymric</option><option value="Cymric">Cymric</option>
  <option value="Cyprus">Cyprus</option><option value="Cyprus">Cyprus</option>
  <option value="Devon Rex">Devon Rex</option><option value="Devon Rex">Devon Rex</option>
  <option value="Donskoy (Don Sphynx)">Donskoy (Don Sphynx)</option><option value="Donskoy (Don Sphynx)">Donskoy (Don Sphynx)</option>
  <option value="Dragon Li (Chinese Li Hua)">Dragon Li (Chinese Li Hua)</option><option value="Dragon Li (Chinese Li Hua)">Dragon Li (Chinese Li Hua)</option>
  <option value="Dwelf">Dwelf</option><option value="Dwelf">Dwelf</option>
  <option value="Egyptian Mau">Egyptian Mau</option><option value="Egyptian Mau">Egyptian Mau</option>
  <option value="European Shorthair">European Shorthair</option><option value="European Shorthair">European Shorthair</option>
  <option value="Exotic Shorthair">Exotic Shorthair</option><option value="Exotic Shorthair">Exotic Shorthair</option>
  <option value="Foldex">Foldex</option><option value="Foldex">Foldex</option>
  <option value="German Rex">German Rex</option><option value="German Rex">German Rex</option>
  <option value="Havana Brown">Havana Brown</option><option value="Havana Brown">Havana Brown</option>
  <option value="Highlander">Highlander</option><option value="Highlander">Highlander</option>
  <option value="Himalayan Persian">Himalayan Persian</option><option value="Himalayan Persian">Himalayan Persian</option>
  <option value="Japanese Bobtail">Japanese Bobtail</option><option value="Japanese Bobtail">Japanese Bobtail</option>
  <option value="Javanese Longhair">Javanese Longhair</option><option value="Javanese Longhair">Javanese Longhair</option>
  <option value="Kanaani">Kanaani</option><option value="Kanaani">Kanaani</option>
  <option value="Khao Manee">Khao Manee</option><option value="Khao Manee">Khao Manee</option>
  <option value="Kinkalow">Kinkalow</option><option value="Kinkalow">Kinkalow</option>
  <option value="Korat">Korat</option><option value="Korat">Korat</option>
  <option value="Korean Bobtail">Korean Bobtail</option><option value="Korean Bobtail">Korean Bobtail</option>
  <option value="Korn Ja">Korn Ja</option><option value="Korn Ja">Korn Ja</option>
  <option value="Kurilian Bobtail">Kurilian Bobtail</option><option value="Kurilian Bobtail">Kurilian Bobtail</option>
  <option value="Lambkin">Lambkin</option><option value="Lambkin">Lambkin</option>
  <option value="LaPerm">LaPerm</option><option value="LaPerm">LaPerm</option>
  <option value="Long-haired Manx">Long-haired Manx</option><option value="Long-haired Manx">Long-haired Manx</option>
  <option value="Lykoi">Lykoi</option><option value="Lykoi">Lykoi</option>
  <option value="Maine Coon">Maine Coon</option><option value="Maine Coon">Maine Coon</option>
  <option value="Manx">Manx</option><option value="Manx">Manx</option>
  <option value="Mekong Bobtail">Mekong Bobtail</option><option value="Mekong Bobtail">Mekong Bobtail</option>
  <option value="Minskin">Minskin</option><option value="Minskin">Minskin</option>
  <option value="Minuet">Minuet</option><option value="Minuet">Minuet</option>
  <option value="Munchkin">Munchkin</option><option value="Munchkin">Munchkin</option>
  <option value="Nebelung">Nebelung</option><option value="Nebelung">Nebelung</option>
  <option value="Norwegian Forest Cat">Norwegian Forest Cat</option><option value="Norwegian Forest Cat">Norwegian Forest Cat</option>
  <option value="Ocicat">Ocicat</option><option value="Ocicat">Ocicat</option>
  <option value="Ojos Azules">Ojos Azules</option><option value="Ojos Azules">Ojos Azules</option>
  <option value="Oriental Bicolor">Oriental Bicolor</option><option value="Oriental Bicolor">Oriental Bicolor</option>
  <option value="Oriental Longhair">Oriental Longhair</option><option value="Oriental Longhair">Oriental Longhair</option>
  <option value="Oriental Shorthair">Oriental Shorthair</option><option value="Oriental Shorthair">Oriental Shorthair</option>
  <option value="Persian (modern)">Persian (modern)</option><option value="Persian (modern)">Persian (modern)</option>
  <option value="Persian (traditional)">Persian (traditional)</option><option value="Persian (traditional)">Persian (traditional)</option>
  <option value="Peterbald">Peterbald</option><option value="Peterbald">Peterbald</option>
  <option value="Pixie-bob">Pixie-bob</option><option value="Pixie-bob">Pixie-bob</option>
  <option value="Raas">Raas</option><option value="Raas">Raas</option>
  <option value="Ragamuffin">Ragamuffin</option><option value="Ragamuffin">Ragamuffin</option>
  <option value="Ragdoll">Ragdoll</option><option value="Ragdoll">Ragdoll</option>
  <option value="Russian Black">Russian Black</option><option value="Russian Black">Russian Black</option>
  <option value="Russian Blue">Russian Blue</option><option value="Russian Blue">Russian Blue</option>
  <option value="Russian Tabby">Russian Tabby</option><option value="Russian Tabby">Russian Tabby</option>
  <option value="Russian White">Russian White</option><option value="Russian White">Russian White</option>
  <option value="Sam Sawet">Sam Sawet</option><option value="Sam Sawet">Sam Sawet</option>
  <option value="Savannah">Savannah</option><option value="Savannah">Savannah</option>
  <option value="Scottish Fold">Scottish Fold</option><option value="Scottish Fold">Scottish Fold</option>
  <option value="Selkirk Rex">Selkirk Rex</option><option value="Selkirk Rex">Selkirk Rex</option>
  <option value="Serengeti">Serengeti</option><option value="Serengeti">Serengeti</option>
  <option value="Serrade Petit">Serrade Petit</option><option value="Serrade Petit">Serrade Petit</option>
  <option value="Siamese">Siamese</option><option value="Siamese">Siamese</option>
  <option value="Siberian (Siberian Forest Cat)">Siberian (Siberian Forest Cat)</option><option value="Siberian (Siberian Forest Cat)">Siberian (Siberian Forest Cat)</option>
  <option value="Singapura">Singapura</option><option value="Singapura">Singapura</option>
  <option value="Snowshoe">Snowshoe</option><option value="Snowshoe">Snowshoe</option>
  <option value="Sokoke">Sokoke</option><option value="Sokoke">Sokoke</option>
  <option value="Somali">Somali</option><option value="Somali">Somali</option>
  <option value="Sphynx">Sphynx</option><option value="Sphynx">Sphynx</option>
  <option value="Suphalak">Suphalak</option><option value="Suphalak">Suphalak</option>
  <option value="Thai Blue Point">Thai Blue Point</option><option value="Thai Blue Point">Thai Blue Point</option>
  <option value="Thai Lilac">Thai Lilac</option><option value="Thai Lilac">Thai Lilac</option>
  <option value="Thai Lilac Point">Thai Lilac Point</option><option value="Thai Lilac Point">Thai Lilac Point</option>
  <option value="Thai or Old-style Siamese">Thai or Old-style Siamese</option><option value="Thai or Old-style Siamese">Thai or Old-style Siamese</option>
  <option value="Tonkinese">Tonkinese</option><option value="Tonkinese">Tonkinese</option>
  <option value="Toybob">Toybob</option><option value="Toybob">Toybob</option>
  <option value="Toyger">Toyger</option><option value="Toyger">Toyger</option>
  <option value="Turkish Angora">Turkish Angora</option><option value="Turkish Angora">Turkish Angora</option>
  <option value="Turkish Van">Turkish Van</option><option value="Turkish Van">Turkish Van</option>
  <option value="Turkish Vankedisi">Turkish Vankedisi</option><option value="Turkish Vankedisi">Turkish Vankedisi</option>
  <option value="Ukrainian Levkoy">Ukrainian Levkoy</option><option value="Ukrainian Levkoy">Ukrainian Levkoy</option>
  <option value="York Chocolate">York Chocolate</option><option value="York Chocolate">York Chocolate</option>
</select>