<header th:fragment="header">

<!--   insert this code to the page where header should be added
 <div th:insert="fragments/header.html :: header"></div>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link align-nav-element" href="/all-pets">Pets</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link align-nav-element" href="/all-users">Users</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link align-nav-element" href="/all-events">Events</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link align-nav-element" href="/discounts">Discounts</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/default-profile-picture.png" class="rounded-circle profile-picture" alt="profile-photo">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/messages">Messages</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                        <li><a class="dropdown-item" href="/update-profile">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="/create-pet">Add Pet</a></li>
<!--                        will be in the profile-->
<!--                        <li><a class="dropdown-item" href="/my-pets">My pets</a></li>-->
<!--                        available in the Header-->
<!--                        <li><a class="dropdown-item" href="/events">Events</a></li>-->
                        <li><a class="dropdown-item" href="/create-event">Create Event</a></li>
                        <li><a class="dropdown-item" href="/my-events">My Events</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/log-out">Log out</a></li>
                    </ul>
                </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--                    </li>-->
            </ul>
<!--                <form class="d-flex">-->
<!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                    <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                </form>-->
        </div>
    </div>
</nav>

</header>