<!DOCTYPE html>
<html lang="en">
<head>
<!--    this block has all needed initial bootstrap and google fonts imports-->
    <th:block th:include="fragments/head.html :: head"></th:block>

<!--    add all your additional styles files add below this line-->
    <link href="css/all-users.css" rel="stylesheet"/>
    <link href="css/styles-icomoon.css" rel="stylesheet"/>

    <title>All users</title>

</head>
<body>
<!-- this is fragment for header to display -->
<div th:insert="fragments/header.html :: header"></div>



  <main>
      <section>
<!--         Two decisions:
        1. masonry: add first <ul> style="padding-left: 0; data-masonry='{"percentPosition": true}'
        2. block: add into css img height-max
-->
        <ul  class="row row-cols-1 row-cols-md-3 row-cols-xl-5 g-4" style="padding-left: 0" data-masonry='{"percentPosition": true}' th:if="${!usersList.isEmpty()}">
            <li class="col" th:each="userItem: ${usersList}">
                <div style="text-align: center" class="card">
                    <img th:src="${userItem.photo}" class="card-img-top">
                    <div class="card-body">
                        <a href="#" class="card-link"> <!--         go into profile               -->
                            <span class="card-title" th:text="${userItem.name}"></span>
                            <span class="card-title" th:text="${userItem.surname}"></span>
                        </a>
                        <p class="card-subtitle mb-2 text-muted" th:text="${userItem.status}"></p>
                    </div>
                    <p>List of pets</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                    <ul class="card-body social-list">
                        <li class="card-link" style="display: flex">
                            <a
                                    class="social-list-link"
                                    href="https://uk-ua.facebook.com/"
                                    target="_blank"
                                    aria-label="facebook"
                            >
                          <span class="social-item-icon">
                            <span class="icon-facebook"></span>
                          </span>
                            </a>
                        </li>
                        <li class="card-link">
                            <a
                                    class="social-list-link"
                                    href="https://twitter.com/"
                                    target="_blank"
                                    aria-label="twitter"
                            >
                          <span class="social-item-icon">
                            <span class="icon-twitter"></span>
                          </span>
                            </a>
                        </li>
                        <li class="card-link">
                            <a
                                    class="social-list-link"
                                    href="https://instagram.com/"
                                    target="_blank"
                                    aria-label="instagram"
                            >
                          <span class="social-item-icon">
                            <span class="icon-instagram"></span>
                          </span>
                            </a>
                        </li>
                        <li class="card-link">
                            <a
                                    class="list-link"
                                    href="https://www.youtube.com/"
                                    target="_blank"
                                    aria-label="youtube"
                            >
                          <span class="social-item-icon">
                            <span class="icon-youtube"></span>
                          </span>
                            </a>
                        </li>
                        <li class="card-link">
                            <a
                                    class="social-list-link"
                                    href="https://www.pinterest.com/"
                                    target="_blank"
                                    aria-label="pinterest"
                            >
                          <span class="social-item-icon">
                            <span class="icon-pinterest"></span>
                          </span>
                            </a>
                        </li>
<!--                        <a href="#" class="card-link"></a>-->
<!--                        <a href="#" class="card-link"></a>-->
                    </ul>
                </div>
            </li>
        </ul>
    </section>
  </main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>