<!doctype html>
<html lang="en">
<head>
  <!--    this block has all needed initial bootstrap and google fonts imports-->
  <th:block th:include="~{fragments/head.html :: head}"> </th:block>

  <!--    add all your additional styles files add below this line-->

  <!--    customize title of your page-->
  <title>Pet Created</title>
</head>
<body>
<!-- this is fragment for header to display -->
<div th:insert="~{fragments/header.html :: header}"></div>

<!-- insert all your code below this line -->
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col text-center">
      <div class="shadow p-3 mb-5  rounded alert-success text-center">
          Profile for <span th:text="${petName}"></span> was successfully created! <br><br>

          <a type="button" th:href="@{'/pet-profile/' + ${petId}}" class="btn btn-outline-success">Open pet profile</a>

      </div>
    </div>
    <div class="col"></div>

  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col text-center">
      <a type="button" href="/create-pet" class="btn btn-outline-primary btn">Create another one</a>
      <a type="button" href="/profile-page" class="btn btn-outline-secondary btn">Go to My Profile</a>
    </div>
    <div class="col"></div>

  </div>
</div>

<!--Script for Bootstrap to work well, should be placed at the end of the Body tag-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>


<footer>
  <div th:insert="~{fragments/footer.html :: footer}"></div>
</footer>
</html>