<!DOCTYPE html>
<html lang="en">
<head>
    <!--    this block has all needed initial bootstrap and google fonts imports-->
    <th:block th:insert="~{fragments/head.html :: head}"> </th:block>

    <!--    add all your additional styles files add below this line-->

    <!--    customize title of your page-->
    <title>My pets to be adopted</title>
</head>
<body class="d-flex row">
<!-- this is fragment for header to display -->
<header th:insert="~{fragments/header.html :: header}"></header>

<!-- insert all your code below this line -->
<div class="container my-4">

    <div th:if="${myAdoptionList.isEmpty()}">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h1 style="text-align: center">You haven't reserved any pets for adoption</h1>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
        <h1 th:if="!${myAdoptionList.isEmpty()}">Pets to be adopted by me</h1>
        <div th:if="!${myAdoptionList.isEmpty()}" class="d-flex flex-wrap gap-3 justify-content-start align-items-start">
            <div class="card d-flex align-items-stretch" style=" width: 15rem;" th:each="pet : ${myAdoptionList}">

                <div th:if="${pet.getType().equals('dog')}">
                    <span class="badge position-absolute top-0 end-0 bg-success">dog</span>
                </div>

                <div th:if="${pet.getType().equals('cat')}">
                    <span class="badge position-absolute top-0 end-0 bg-primary">cat</span>
                </div>

                <span class="badge position-absolute bg-warning text-dark" th:if="${pet.isReserved()}">Reserved</span>
                <span class="badge position-absolute bg-warning text-dark" th:unless="${pet.isReserved()}">Available</span>



                <img
                        th:src="${pet.photoPath}"
                        class="card-img-top"
                        alt="profile-picture]"
                        style="height: 160px; object-fit: cover;"
                >

                <div class="card-body">
                    <h5 class="card-title text-truncate">
                        <span th:text="${pet.getName()}"></span>
                    </h5>
                    <p class="card-text text-truncate">
                        Age: <span th:text="${pet.getAge()}"> </span>
                        <br>
                        Sex: <span th:text="${pet.getSex()}"></span>
                        <br>
                        Shelter: <span th:text="${pet.getShelter()}"></span>
                    </p>

                    <p class="card-text" style="min-height: 100px; max-height: 100px; overflow: hidden;">
                        Description: <span th:text="${#strings.abbreviate(pet.description,150)}"></span>
                    </p>

<!--                    <form action="/reserve" method="post">-->
<!--                        <input type="hidden" th:value="${pet.getId()}" id="petId" name="petId">-->
<!--                        <button type="submit" class="btn btn-primary">Reserve</button>-->
<!--                    </form>-->

                    <form action="/takeOffReservation" method="post">
                        <input type="hidden" th:value="${pet.getId()}" id="petIdToBeUnreserved" name="petIdToBeUnreserved">
                        <button type="submit" class="btn btn-primary" style="background-color: red">Unreserve pet</button>
                    </form>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="align-self-end" th:insert="~{fragments/footer.html :: footer}"></footer>
<!--Script for Bootstrap to work well, should be placed at the end of the Body tag-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>

<!--<div class="card" style="width: 18rem;">-->
<!--    <img src="/logo.png" class="card-img-top" alt="...">-->
<!--    <div class="card-body">-->
<!--        <h5 class="card-title">Card title</h5>-->
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--    </div>-->
<!--</div>-->
