<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="~{fragments/head.html :: head}"></th:block>
    <title>My events</title>
</head>
<body class="d-flex row">
<header th:insert="~{fragments/header.html :: header}"></header>
<main>
    <section class="container">
        <div class="row pt-5">
            <div class="col-12">
                <h3 class="text-uppercase mb-4 text-center">Events created by me</h3>
            </div>
        </div>
        <!--        Use row-cols-sm-2 if ypu have more than 3 cars-->
        <ul class="row row-cols-1 row-cols-lg-3 g-4 ps-2 pe-2">
            <!--ADD CLASSES HERE d-flex align-items-stretch-->
            <li th:each="myEventItem: ${myEventsList}" class="col d-flex align-items-stretch">
                <article class="card-body d-flex flex-column border rounded p-0">
                    <p th:text="${myEventItem.getDate()}" class="align-self-end p-2"></p>
                    <h5 th:text="${myEventItem.getName()}" class="card-title border-bottom p-2 text-center"></h5>
                    <p th:text="${myEventItem.getDescription()}" class="card-text mb-4 p-2" style="text-align: justify"></p>
                    <div class="d-flex mt-auto justify-content-around">
                        <a th:href="'view-event/'+${myEventItem.getId()}" class="btn btn-primary text-white m-2"> See my event</a>
                        <a th:href="'update-event/'" class="btn btn-primary text-white m-2">Update event</a>
                    </div>
                </article>
            </li>
        </ul>
    </section>
</main>
<footer class="align-self-end" th:insert="~{fragments/footer.html :: footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>