<!doctype html>
<html lang="en">
<head>
  <!--    this block has all needed initial bootstrap and google fonts imports-->
  <th:block th:insert="~{fragments/head.html :: head}"> </th:block>

  <!--    add all your additional styles files add below this line-->


  <!--    customize title of your page-->
  <title th:text="${pet.getNickname()} + ' page'"></title>
</head>
<body>
<!-- this is fragment for header to display -->
<div th:insert="~{fragments/header.html :: header}"></div>

<!-- insert all your code below this line -->
<div class="container">
  <div class="row">
    <div class="col-3">
    </div>

<!--    PICTURE SECTION -->

    <div class="col-2">
      <img src="../logo.png" alt="default profile logo" style="object-fit: cover; width: 150px; height: 150px; border-radius: 50%;">
    </div>


    <div class="col-5">
      <div class="row">

        <!--    NAMES SECTION -->

        <h2 class="text-capitalize"> <span class="text-truncate" th:text="${pet.getNickname().toLowerCase()}"> </span></h2>
        <h5 class="text-capitalize text-truncate text-muted" th:if="${!(pet.getFullName().isBlank())}" th:text="'Full official name: ' + ${pet.getFullName().toLowerCase()}"></h5>

        <h3 class="badge rounded-pill bg-success" th:text="${pet.getType().toLowerCase()}"></h3>
      </div>

<!--      STATUSES SECTION -->

      <div class="row">
        <div class="col">
          <span class="badge bg-warning text-dark" th:if="${pet.isLookingForDate()}">ready for a date</span>
        </div>

        <div class="col">
          <span class="badge bg-dark text-white" th:if="${pet.isDied()}" >memorial page</span>
        </div>

        <div class="col">
          <span class="badge bg-info text-dark" th:if="${(pet.isNewHome())}">looking for a new home</span>
        </div>

        <br><br>

      </div>

<!--      PRIMARY INFO SECTION -->

      <div class="row" th:if="${!pet.getBirthdate().isBlank()}">
        <div class="col-3">
          <span class="text-muted">Birthday:</span>
        </div>
        <div class="col">
          <span th:text="${pet.dateFormatter(pet.getBirthdate())}"></span>
          <span th:if="${!pet.isDied()}" th:text="'(' + ${pet.petAge(pet)} + ')'"></span>
        </div>
      </div>

      <div class="row" th:if="${pet.isDied() && !(pet.getDeathdate().isBlank())}">
        <div class="col-3">
          <span class="text-muted">Death-day:</span>
        </div>
        <div class="col">
          <span th:text="${pet.dateFormatter(pet.getDeathdate())} + ' at '"></span>
          <span th:text="${pet.petAge(pet)}"></span>
        </div>
      </div>

      <div class="row" th:if="${pet.isDied() && (pet.getDeathdate().isBlank())}">
        <div class="col-3">
          <span class="text-muted">Death-day:</span>
        </div>
        <div class="col">
          <span>Not known</span>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <span class="text-muted">Sex:</span>
        </div>
        <div class="col text-capitalize">
          <span th:text="${pet.getSex()}"></span>
        </div>
      </div>

      <div class="row" th:if="${!(pet.getBreed().equals('--'))}">
        <div class="col-3">
          <span class="text-muted">Breed:</span>
        </div>
        <div class="col">
          <span th:text="${pet.getBreed()}"></span>
        </div>
      </div>

      <div class="row" th:if="${!(pet.getCity().isBlank()) && !(pet.getCountry().equals('--'))}">
        <div class="col-3">
          <span class="text-muted">Hometown:</span>
        </div>
        <div class="col">
          <span th:if="${!(pet.getCity().isBlank())}" th:text="${pet.getCity()} + ', '"></span>
          <span th:if="${!(pet.getCountry().equals('--'))}" th:text="${pet.getCountry()}"></span>
        </div>
      </div>

<!--      OWNERS SECTION -->

      <div class="row align-items-center mt-4">
        <div class="col-2"><hr></div>
        <div class="col-2">
          <span class="text-muted">owners</span>
        </div>
        <div class="col">
          <hr>
        </div>
      </div>

      <div class="row" th:if="!${petOwners.isEmpty()}" th:each="user : ${petOwners}">
        <div class="col-3">
          <span class="text-muted">Owner:</span>
        </div>
        <div class="col">
          <a th:href="@{'/viewUserInfo/' + ${user.getId()}}" th:text="${user.getName()} + ' ' + ${user.getSurname()}"></a>
        </div>
      </div>


<!--      FAMILY SECTION -->

      <div class="row align-items-center mt-4" th:if="${!(pet.getMother().isBlank()) && !(pet.getFather().isBlank()) && !(pet.getChilds().isBlank())}">
        <div class="col-2"><hr></div>
        <div class="col-2">
          <span class="text-muted">family</span>
        </div>
        <div class="col">
          <hr>
        </div>
      </div>

      <div class="row" th:if="${!(pet.getMother().isBlank())}">
        <div class="col-3">
          <span class="text-muted">Mother:</span>
        </div>
        <div class="col">
          <a th:href="@{'/pet-profile/' + ${pet.getMother()}}">Mother</a>
        </div>
      </div>

      <div class="row" th:if="${!(pet.getFather().isBlank())}">
        <div class="col-3">
          <span class="text-muted">Father:</span>
        </div>
        <div class="col">
          <a th:href="@{'/pet-profile/' + ${pet.getFather()}}">Father</a>
        </div>
      </div>

      <div class="row" th:if="${!(pet.getChilds().isBlank())}">
        <div class="col-3">
          <span class="text-muted">Children:</span>
        </div>
        <div class="col">
          <span th:text="${pet.getChilds()}"></span>
        </div>
      </div>

<!--      APPEARANCE SECTION-->

      <div class="row align-items-center mt-4" th:if="${!(pet.getEyeColor().isBlank()) && !(pet.getFurColor().isBlank()) && (pet.getHeight()>0) && (pet.getWeight() > 0)}">
        <div class="col-2"><hr></div>
        <div class="col-3">
          <span class="text-muted">appearance</span>
        </div>
        <div class="col">
          <hr>
        </div>
      </div>

      <div class="row" th:if="${!(pet.getEyeColor().isBlank())}">
        <div class="col-3">
          <span class="text-muted">Eye color:</span>
        </div>
        <div class="col">
          <span th:text="${pet.getEyeColor()}"></span>
        </div>
      </div>

      <div class="row" th:if="${!(pet.getFurColor().isBlank())}">
        <div class="col-3">
          <span class="text-muted">Fur color:</span>
        </div>
        <div class="col">
          <span th:text="${pet.getFurColor()}"></span>
        </div>
      </div>

      <div class="row" th:if="${(pet.getHeight() > 0)}">
        <div class="col-3">
          <span class="text-muted">Height:</span>
        </div>
        <div class="col">
          <span th:text="${pet.getHeight()}"></span>
        </div>
      </div>

      <div class="row" th:if="${(pet.getWeight() > 0)}">
        <div class="col-3">
          <span class="text-muted">Weight:</span>
        </div>
        <div class="col">
          <span th:text="${pet.getWeight()}"></span>
        </div>
      </div>


<!--      EVENTS SECTION -->

      <div class="row align-items-center mt-4" th:if="${!(pet.getEvents().isBlank())}">
        <div class="col-2"><hr></div>
        <div class="col-2">
          <span class="text-muted">events</span>
        </div>
        <div class="col">
          <hr>
        </div>
      </div>

      <div class="row" th:if="${!(pet.getEvents().isBlank())}">
        <div class="col-3">
          <span class="text-muted">Events:</span>
        </div>
        <div class="col">
          <span th:text="${pet.getEvents()}"></span>
        </div>
      </div>

<!--      MEDICAL INFO SECTION -->

      <div class="row align-items-center mt-4" th:if="${!(pet.getMedicalInfo().isBlank())}">
        <div class="col-2"><hr></div>
        <div class="col-4">
          <span class="text-muted">medical information</span>
        </div>
        <div class="col">
          <hr>
        </div>
      </div>

      <div class="row" th:if="${!(pet.getMedicalInfo().isBlank())}">
        <div class="col-3">
          <span class="text-muted">Medical info:</span>
        </div>
        <div class="col">
          <span th:text="${pet.getMedicalInfo()}"></span>
        </div>
      </div>

    </div>

    <div class="col-2">
      <a type="button" th:if="${currentUserIsPetOwner}" th:href="@{'/pet-profile/' + ${pet.getId()} + '/edit'}" class="btn btn-outline-primary">Edit pet profile</a>
    </div>
  </div>
</div>




<!--Script for Bootstrap to work well, should be placed at the end of the Body tag-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>


<footer>
  <div th:insert="~{fragments/footer.html :: footer}"></div>
</footer>
</html>