<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reservation refusal</title>
</head>
<body>

<h1 style="color: red; text-align: center">Ooops, this pet was already reserved by someone else!</h1>
<h3 style="text-align: center">There are many other pets looking for new homes, they would be happy to meet you!</h3>
<br>
<div style="text-align: center;">

  <!--  To check if there is a better way to make a reference to an endpoint -->
  <button style="cursor: pointer; text-align: center; color: #FAFAFA; background-color: #04AA6D;  border: none;  font-size: 26px; padding: 10px; width: 220px; text-align: center;" onclick="window.location.href='http://localhost:8080/adoption';">See other pets</button>
</div>

<!--  <a class="nav-link align-nav-element" href="/adoption">Go back</a>-->

<br><br><br>
<img src="pets.jpg" alt="Pets">

</body>
</html>