<!DOCTYPE html>
<html lang="en">
<head>
  <!--    this block has all needed initial bootstrap and google fonts imports-->
  <th:block th:insert="~{fragments/head.html :: head}"></th:block>
<!--  <link rel="stylesheet" href="/header.css">-->
  <title>User Update</title>
</head>
<body>
<!-- this is fragment for header to display -->
<div th:insert="~{fragments/header.html :: header}"></div>

<main>
  <section class="container text-center">
    <form action="/userUpdateBtn" method="post">
      <div class="row">
        <div class="col-1"> </div>
        <div class="col-3">
          <img style="width: inherit" th:src="${userData.photo}">
        </div>
        <div class="col-8">
              <div class="row">
                <div class="col-4">
                  <input style="display: none" th:value="${userData.id}" name="userId">
                  <input th:value="${userData.name}" name="firstName">
                </div>
                <div class="col-4">
                  <input th:value="${userData.password}" name="password">
                </div>
                <div class="col-2">
                  <label th:text="${userData.createdAt}"></label>
                </div>
                <div class="col-2">
                  <label th:text="${userData.updatedAt}"></label>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-8">col-8</div>
        <div class="col-4">
          <button>Update</button>
        </div>
      </div>
    </form>
  </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>